---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Curated List Of Latest Trends</title>
	</head>
	<body>
		<div
			class="w-screen h-screen bg-[url('/src/images/background.jpg')] bg-no-repeat bg-center bg-fixed bg-cover"
		>
		</div>
	</body>
</html>
